# Default owners
*                                   @ku4marez

# Services
/services/catalog-service/          @ku4marez
/services/inventory-service/        @ku4marez
/services/order-service/            @ku4marez
/services/payment-service/          @ku4marez

# Frontend
/clients/admin-client/                  @ku4marez
/clients/customer-client/               @ku4marez

# Infra
/infra/                             @ku4marez
